/* Default*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
clearfix::after{
    content:'';
    display: table;
    clear:both;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils*/

.container{
    height: 100vh;
    max-width:1000px;
    margin:0 auto;
}

.col{
    float :left;
}
/* header */
header{
    height: 100%;
    color:#fff;
    background-color: #3161e0;
    position:relative;
}
#logo{
    padding-top: 10px;
    line-height: 70px;
}

.main-header .topbar{
    height: 70px;
    line-height: 70px;
}
/* header --> logo */

/* header --> nav */
.topbar .main-nav, .main-nav .top-menu li{
    display: inline-block;
}

.topbar .top-menu a{
    color:white;
    text-decoration: none;
}

.topbar .top-menu a:hover{
    text-decoration: underline;
}

.topbar .top-menu li{
    margin: 0 10px;
 }
 /*jumbotron*/
  #jumbotron .container{
    position: absolute;
    width: 50%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: tomato;
   
}
 #jumbotron{
     background-image: url('../img/jumbo.png');
     background-size: cover;
     background-position: center;
     height: 500px;
    }  

 #jumbotron .container .content{
    margin: 40px;
    }
#jumbotron .container .content h1{
    font-size: 4em;
    font-weight: 900;
    margin: 20px;
    
}

#jumbotron .container .content p{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
}


 /* header --> btn*/
#btn-nav .btn{
    border-radius: 20px;
    text-decoration: none;
}
.btn.btn-white{
    color: #3161e0;
    background: #fff;
}

.btn.btn.btn-white.btn-small{
    font-size:12px;
    padding:5px 40px;
}


/* Color, Aligns & Dimensions */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
.col.w-60{
    width: 60%;
}

.col.w-20{
    width: 20%;
}

