/* Default*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
clearfix::after{
    content:'';
    display: table;
    clear:both;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils*/

.container{
    max-width:900px;
    margin:0 auto;
}

.col{
    float :left;
}
/* header */
header{
    color:#fff;
    background-color: #3161e0;
}

header .topbar{
    height: 90px;
    line-height: 90px;
}
/* header --> logo */
.topbar #logo{
    line-height: middle;
}

/* Color & Dimensions */
.col.w-60{
    width: 60%;
}

.col.w-20{
    width: 20%;
}

